%section#home.main-nav
  .heading.dark-bg
    .row
      .col-sm-12.head
        .logo
          / Kenia Valladarez
          / <img src=".png" alt="Kenia's Logo" />
        %h1.stm-font Full-Stack Developer
    .row
      %nav
        %ul.list-inline.links
          %li
            %a.btn.btn-default.btn-lg{:href => "https://github.com/kaxcode", :target => "_blank", :title => "Kenia on GitHub"}
              %i.fa.fa-github
          %li
            %a.btn.btn-default.btn-lg{:href => "https://www.linkedin.com/in/keniavalladarez", :target => "_blank", :title => "Kenia on Linkedin"}
              %i.fa.fa-linkedin
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/kaxcode", :target => "_blank", :title => "Kenia on Twitter"}
              %i.fa.fa-twitter

/ About me Section
.container
  %section#about.main-nav
    %h1
      %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
      About
    .row
      .col-sm-4
        / My picture
        / <img src="http://Kenia.altervista.org/ext/avatar.png" alt="description" title="tool tip" class="img-circle shadow up-hover avatar">
      .col-sm-8
        %h2.text-primary.stm-font Skills
        %p
          Full Stack Web Development
        %h2.text-primary.stm-font Tools
        %p Ruby, Ruby on Rails, PostgreSQL - HTML, CSS, SCSS, Bootstrap - JavaScript, jQuery, React.js, PostgreSQL - Git, Heroku
  %section#portfolio.main-nav
    / start portfolio
    %h1
      %span.glyphicon.glyphicon-book{"aria-hidden" => "true"}
      Portfolio
    .row
      / -start row
      .col-sm-6.col-md-4
        / start element 1
        .thumbnail.shadow.up-hover
          %img{:src => "http://Kenia.altervista.org/ext/simon.jpg"}/
          .cust-caption
            %a{:href => "http://codepen.io/Em-Ant/full/QbRyqq"}
              %h3.stm-font Simon Game
            %p An emulation of the classic memory game using jQuery. Graphics are pure CSS. It'uses the new AudioContext API, so you need an up-to-date version of firefox or chrome to run it.
      / end element 1
      .col-sm-6.col-md-4
        / start element 2
        .thumbnail.shadow.up-hover
          %img{:src => "http://Kenia.altervista.org/ext/pomo.jpg"}/
          .cust-caption
            %a{:href => "http://codepen.io/Em-Ant/full/vObzWm"}
              %h3.stm-font Pomodoro Clock
            %p A timer to help you to improve your skills. Made with simple CSS, and jQuery. The vector arts are made by me in Inkscape
      / end element 2
      .col-sm-6.col-md-4
        / start element 3
        .thumbnail.shadow.up-hover
          %img{:src => "http://Kenia.altervista.org/ext/calc.jpg"}/
          .cust-caption
            %a{:href => "http://codepen.io/Em-Ant/full/OVabRP"}
              %h3.stm-font Pocket Calculator
            %p A bootstrap and jQuery powered emulation of a vintage pocket calculator. It features the classic operator chaining workflow, and the percent operator in windows calc mode.
      / end element 3
      .col-sm-6.col-md-4
        / start element 4
        .thumbnail.shadow.up-hover
          %img{:src => "http://Kenia.altervista.org/ext/quotes.jpg"}/
          .cust-caption
            %a{:href => "http://codepen.io/Em-Ant/full/jPQqwB"}
              %h3.stm-font Random Quotes Machine
            %p This little app retrieves random quotes from the 'Quotes.net' servers. It uses AJAX calls in jQuery, and the Twitter API. Made with Bootstrap, and custom images
      / end element 4
      .col-sm-6.col-md-4
        / start element 5
        .thumbnail.shadow.up-hover
          %img{:src => "http://Kenia.altervista.org/ext/cnews.jpg"}/
          .cust-caption
            %a{:href => "http://codepen.io/Em-Ant/full/WvPNPM"}
              %h3.stm-font fcc Camper News
            %p This app use Ajax to obtain infos about the last posts on the 'freeCodeCamp.com' forum. Then it displays the data using the powerful Bootstrap's responsive grid. Powered by jQuery.
      / end element 5
      .col-sm-6.col-md-4
        / start element 6
        .thumbnail.shadow.up-hover
          %img{:src => "http://Kenia.altervista.org/ext/tic.jpg"}/
          .cust-caption
            %a{:href => "http://codepen.io/Em-Ant/full/KpEWdR"}
              %h3.stm-font Tic Tac Toe
            %p The access point to understanding AI in games. The computer player uses the classic MiniMax algorithm. Try to beat him if you can. Made in Bootstrap, jQuery and font Awesome.
      / end element 6
    / -end row
  / end portfolio
/ end container
%footer#links.main-nav.stm-font.dark-bg
  .container
    .col-sm-4.hidden-xs
      %ul.list-unstyled
        %li
          Created for
          %a{:href => "http://www.freecodecamp.com/", :target => "_blank"} freeCodeCamp
        %li
          Powered by
          %a{:href => "https://jquery.com/", :target => "_blank"} jQuery
        %li
          Designed with
          %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap
        %li
          Custom Graphics in
          %a{:href => "https://inkscape.org/", :target => "_blank"} Inkscape
    .col-sm-8.center
      %img#flogo{:alt => "logo: Kenia", :src => "http://Kenia.altervista.org/ext/logo.png", :title => "logo", :width => "150px"}/
      %p
        contact me at
        %a{:href => "mailto:mail@example.com"} mail@example.com
      %p
        Copyright © 2015 by
        %a{:href => "http://Kenia.altervista.org/", :target => "_blank"} Kenia
