%section#home.main-nav
  .heading.dark-bg
    .row
      .col-sm-12.head
        .logo
          / Kenia Valladarez
          / <img src=".png" alt="Kenia's Logo" />
        %h1.stm-font Full-Stack Developer
    .row
      %nav
        %ul.list-inline.links
          %li
            %a.btn.btn-default.btn-lg{:href => "https://github.com/kaxcode", :target => "_blank", :title => "Kenia on GitHub"}
              %i.fa.fa-github
          %li
            %a.btn.btn-default.btn-lg{:href => "https://www.linkedin.com/in/keniavalladarez", :target => "_blank", :title => "Kenia on Linkedin"}
              %i.fa.fa-linkedin
          %li
            %a.btn.btn-default.btn-lg{:href => "https://twitter.com/kaxcode", :target => "_blank", :title => "Kenia on Twitter"}
              %i.fa.fa-twitter

/ About me Section
.container
  %section#about.main-nav
    %h1
      %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
      About
    .row
      .col-sm-4
        / My picture
        / <img src="http://Kenia.altervista.org/ext/avatar.png" alt="description" title="tool tip" class="img-circle shadow up-hover avatar">
      .col-sm-8
        %h2.text-primary.stm-font Skills
        %p.minor-text
          Full Stack Web Development
        %h2.text-primary.stm-font Tools
        %p.minor-text
          Ruby, Ruby on Rails, PostgreSQL - HTML, CSS, SCSS, Bootstrap - JavaScript, jQuery, React.js, PostgreSQL - Git, Heroku
  %section#portfolio.main-nav
    / start portfolio
    %h1
      %span.glyphicon.glyphicon-book{"aria-hidden" => "true"}
      Portfolio
    .row
      / -start row
      .col-sm-6.col-md-4
        / start element 2
        .thumbnail.shadow.up-hover
          %img{:src => ""}/
          .cust-caption
            %a{:href => ""}
              %h3.stm-font Fruitcake fruitcake
            %p.minor-text Fruitcake fruitcake biscuit tootsie roll sweet lollipop oat cake icing bonbon. Jelly-o tart apple pie.
      / end element 2
    / -end row
  / end portfolio
/ end container
%footer#links.main-nav.stm-font.dark-bg
  .container
    .col-sm-4.hidden-xs
      %ul.list-unstyled
        -# %li
        -#   Created for
        -#   %a{:href => "http://www.freecodecamp.com/", :target => "_blank"} freeCodeCamp
        %li
          Powered by
          %a{:href => "https://jquery.com/", :target => "_blank"} jQuery
        %li
          Designed with
          %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap
        -# %li
        -#   Custom Graphics in
        -#   %a{:href => "https://inkscape.org/", :target => "_blank"} Inkscape
    .col-sm-8.center
      %img#flogo{:alt => "logo: Kenia", :src => "#", :title => "logo", :width => "150px"}/
      %p
        contact me at
        %a{:href => "mailto:mail@example.com"} mail@example.com
      %p
        Copyright © 2017 by
        %a{:href => "", :target => "_blank"}
