@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.about-text {
  font-weight: bold;
}

.thumbnail {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 7px 7px 7px #666;
  position: relative;
  transition: all 0.2s;
  top: 0;
}

.cust-caption {
  display: none;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 10px;
  color: #ddd;
  margin: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  overflow-y: auto;
}

.portfolio,
#portfolio {
  margin-top: 2em;
}

.contact,
#contact {
  margin-top: 2em;
  padding-top: 2em;
}

.stm-font {
  font-family: 'Montserrat', sans-serif;
}

.project-name {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.color-hover:hover {
  color: #337ab7;
}

.up-hover:hover {
  top: -5px;
  box-shadow: 15px 15px 15px #777;
}

.cust-caption a
.link-to-text-color {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.head h1 {
  color: white;
}

.heading {
  text-align: center;
  padding: 10px;
}

#about p {
  font-size: 1.2em;
  position: relative;
  left: 10px;
}

.experience-box {
  margin-top: 3em;
}

.avatar {
  display: block;
  position: relative;
  width: 200px;
  margin: auto;
}

.showcase {
  text-align: center;
  padding-top: 60px;
}

.showcase h1 {
  font-size: 8em;
}

.link-to-text-color {
  color: white;
}

.link-to-text-color:hover {
  color: white;
}

.center {
  text-align: center;
}

footer {
  padding-top: 50px;
}

.footer-box {
  padding: 0px;
}

.footer-text {
  padding: 0px;
}

.portfolio-thumbnail {
  height: 300px;
  width: 350px;
}

.portfolio-image {
  height: 290px;
  width: 340px;
}

.img-wrapper {
  height: 300px;
  width: 350px;
}
// Scroll Back to top button
// .scroll-top {
//   position: fixed;
//   right: 2%;
//   bottom: 2%;
//   width: 50px;
//   height: 50px;
//   z-index: 1049;
// }
//
// .scroll-top .btn {
//   font-size: 20px;
//   width: 50px;
//   height: 50px;
//   border-radius: 100%;
//   line-height: 28px;
// }
//
// .scroll-top .btn:focus {
//   outline: none;
// }
// #return-to-top {
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   background: rgb(0, 0, 0);
//   background: rgba(0, 0, 0, 0.7);
//   width: 60px;
//   height: 60px;
//   display: block;
//   text-decoration: none;
//   -webkit-border-radius: 35px;
//   -moz-border-radius: 35px;
//   border-radius: 35px;
//   -webkit-transition: all 0.3s linear;
//   -moz-transition: all 0.3s ease;
//   -ms-transition: all 0.3s ease;
//   -o-transition: all 0.3s ease;
//   transition: all 0.3s ease;
// }
// #return-to-top i {
//   color: #fff;
//   margin: 0;
//   position: relative;
//   left: 18px;
//   top: 16px;
//   font-size: 24px;
//   -webkit-transition: all 0.3s ease;
//   -moz-transition: all 0.3s ease;
//   -ms-transition: all 0.3s ease;
//   -o-transition: all 0.3s ease;
//   transition: all 0.3s ease;
// }
// #return-to-top:hover {
//   background: rgba(0, 0, 0, 0.9);
// }
// #return-to-top:hover i {
//   color: #fff;
//   top: 5px;
// }
