#navbar,
.navbar-default,
.navbar-collapse,
.navbar-default,
.navbar-form {
  background-color: #eec3c3;
  border-color: #eec3c3;
}

.navbar-brand-text {
  font-family: 'Montserrat', sans-serif;
}

.nav-text-link {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  color: #b26666;
  background-color: #fff;
  margin-top: -5px;
  margin-bottom: 0;
  padding: 0;
}

.btn-circle-header {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  background-color: #eec3c3;
}



// .name {
//   margin-top: 2.5em;
//   font-size: 2.4em;
//   font-family: 'Open Sans', sans-serif;
// }


// .jumbo-link {
//   font-size: 1.3em;
// }
/* iPhone 5 (portrait)----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (orientation: portrait) {
  .name {
    margin-top: 2.5em;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 1.9em;
    font-size: 1.3em;
  }

  .header-social {
    margin-top: 0.5em;
    font-size: 5em;
    padding: 0 14px;
  }

  .jumbotron {
    height: 82vh;
  }
}

/* iPhone 6 (portrait)----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: portrait) {
  .name {
    margin-top: 2em;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 2em;
    font-size: 1.72em;
  }

  .header-social {
    margin-top: 0.5em;
    font-size: 5em;
    padding: 0 20px;
  }

  .jumbotron {
    height: 85vh;
  }

  .btn-circle-header {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    font-size: 0.4em;
    line-height: 1.33;
    border-radius: 1.4em;
    background-color: #eec3c3;
  }

  .jumbo-link {
    margin-top: 0.1em;
    margin-left: 0.2em;
  }
}

/* iPhone 6 (landscpe)----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: landscape) {
  .name {
    margin-top: 2.1em;
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 1.2em;
    font-size: 1.5em;
  }

  .header-social {
    margin-top: 0.23em;
    font-size: 5em;
    padding: 0 41px;
  }

  .jumbotron {
    height: 67vh;
  }
}

/* iPhone 6+ (portrait) ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation: portrait) {
  .name {
    margin-top: 1.7em;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 1.8em;
    font-size: 2.1em;
  }

  .header-social {
    margin-top: 0.5em;
    font-size: 5em;
    padding: 0 18px;
  }

  .jumbotron {
    height: 92vh;
  }

  .btn-circle-header {
    width: 110px;
    height: 110px;
    padding: 10px 16px;
    font-size: 0.5em;
    line-height: 1.33;
    border-radius: 1.5em;
    background-color: #eec3c3;
  }

  .jumbo-link {
    margin-top: 0.3em;
    margin-left: 0.2em;
  }

  .main-body {
    padding-left: 40px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
  .name {
    margin-top: 3em;
    font-size: 2.8em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 1.8em;
    font-size: 2.2em;
  }

  .header-social {
    margin-top: 1em;
    font-size: 5em;
  }

  .top-nav-box {
    height: 80vh;
    padding: 0 10px;
  }

  .jumbotron {
    padding: 0;
  }

  .btn-circle-header {
    width: 110px;
    height: 110px;
    padding: 10px 16px;
    font-size: 0.5em;
    line-height: 1.33;
    border-radius: 1.5em;
    background-color: #eec3c3;
  }

  .jumbo-link {
    margin-top: 0.3em;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
  .name {
    margin-top: 1.7em;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 1.8em;
    font-size: 2.1em;
  }

  .header-social {
    margin-top: 0.5em;
    font-size: 5em;
  }

  .top-nav-box {
    height: 80vh;
    padding: 0 10px;
  }

  .btn-circle-header {
    width: 110px;
    height: 110px;
    padding: 10px 16px;
    font-size: 0.5em;
    line-height: 1.33;
    border-radius: 1.5em;
    background-color: #eec3c3;
  }

  .jumbo-link {
    margin-top: 0.3em;
  }

  .main-body {
    padding-left: 150px;
  }
}
/* Desktops and laptops ----------- */
@media only screen
  and (min-width: 1224px) {
  .name {
    margin-top: 1.7em;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
  }

  .header-about {
    margin-top: 1.8em;
    font-size: 3em;
  }

  .header-social {
    margin-top: 0.5em;
    font-size: 5em;
  }

  .top-nav-box {
    height: 80vh;
    padding: 0 10px;
  }

  .btn-circle-header {
    width: 110px;
    height: 110px;
    padding: 10px 16px;
    font-size: 0.5em;
    line-height: 1.33;
    border-radius: 1.5em;
    background-color: #eec3c3;
  }

  .jumbo-link {
    margin-top: 0.3em;
  }

  .footer-social {
    font-size: 9em;
  }
}

/* Samsung Galaxy S5 ----------- */
// @media only screen
//   and (min-device-width: 360px)
//   and (max-device-height: 640px)
//   and (orientation: portrait) {
//
// }
